<table align="center" width=100%>
    <tr>
        <td width="20%">
            <img src="in_class.png">
        </td>
        <td>
            <div align="center">
                <font color="#21618C" size=8px>
                    <b> Inclass-Lab<br>(Day 3)
                    </b>
                </font>
            </div>
        </td>
        <td width="25%">
            <img src="NEW_GL_Logo.png">
        </td>
    </tr>
</table>

## Table of Content

1. **[Set](#set)**
2. **[Conditional Statements](#cond)**
3. **[Python Flow Control](#flow_control)**

### Let's begin with some hands-on practice exercises

<a id="set"> </a>
## 1. Set

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>1. Write the program to perform following manipulations:<br><br>
                        a. Add '7' to the given set<br>
                        b. Remove '3' from a given set<br>
                        c. Clear the set
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the below set for manipulation**

num_set = {1, 2, 3, 4, 5, 6}

In [2]:
s1= {1, 2, 3, 4, 5, 6}
s1.add(7)
s1

{1, 2, 3, 4, 5, 6, 7}

In [3]:
s1.remove(3)
s1

{1, 2, 4, 5, 6, 7}

In [4]:
s1.clear()
s1

set()

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>2. Create two sets of words from the given sentences and perform the following operations:<br><br>
                        a. Find the count of unique words in each of the sentence<br> 
                        b. Find the common words in both the sentences<br>
                        c. Find the unique words in both the sentences
                       </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the sentences given below:**
    
sentence_1 = 'We shall analyse the data using python' 

sentence_2 = 'Python for data science'

In [3]:
sentence_1 = 'We shall analyse the data using python'

sentence_2 = 'Python for data science'
sen=(sentence_1.split())
sen2=(sentence_2.split())
print("a. Lenghth of character in sentence_1 is: ", len(sen))
print("Lenghth of character in sentence_2 is: ", len(sen2))

a. Lenghth of character in sentence_1 is:  7
Lenghth of character in sentence_2 is:  4

In [19]:
sentence_1 = 'We shall analyse the data using python'
sentence_2 = 'Python for data science'
sen= (sentence_1.split())
print(sen)

sen2=(sentence_2.split())
print(sen2)

set(sen)&set(sen2)

['We', 'shall', 'analyse', 'the', 'data', 'using', 'python']
['Python', 'for', 'data', 'science']

{'data'}

In [9]:
sen-sen2

{'We', 'analyse', 'python', 'shall', 'the', 'using'}

In [10]:
sen2-sen

{'Python', 'for', 'science'}

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>3. Write a program to perform following set operations:<br><br>
                        a. Union<br> 
                        b. Intersection<br>
                        c. Set of all the elements of set A that are not in set B<br>
                        d. Set of all the elements of set B that are not in set A<br>
                        e. Symmetric difference
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the below set:**

A = {1, 4, 5, 2, 6, 3, 40, 7, 87, 4, 71}

B = {3, 42, 51, 6, 7, 8, 54, 5}

In [8]:
A=set()
A={1, 4, 5, 2, 6, 3, 40, 7, 87, 4, 71}
B=set()
B = {3, 42, 51, 6, 7, 8, 54, 5}
A|B

{1, 2, 3, 4, 5, 6, 7, 8, 40, 42, 51, 54, 71, 87}

In [9]:
A&B

{3, 5, 6, 7}

In [10]:
A.difference(B)

{1, 2, 4, 40, 71, 87}

In [11]:
B-A

{8, 42, 51, 54}

In [12]:
A.symmetric_difference(B)

{1, 2, 4, 8, 40, 42, 51, 54, 71, 87}

<a id="cond"> </a>
## 2. Conditional Statements

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>4. Write a program to check whether a given number is multiple of 7 (use if statement)</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [12]:
num=int(input("Enter the number: "))
if num%7==0:
    print("Number is multiple of 7.")
else:
    print("Number is not multiple of 7.")

Enter the number: 34
Number is not multiple of 7.

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>5. Write a code to print the maximum of two numbers (use if-else)</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [14]:
num1 =int(input("Enter 1st digit: "))
num2 =int(input("Enter 2nd digit: "))
if num1==num2:
    print("Both digits are same")
    print("Try again")
elif num1>num2:
    print("num1 is maximum")
else:
    print("num2 is maximum")

Enter 1st digit: 12
Enter 2nd digit: 14
num2 is maximum

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>6. Write a program to check whether a number is positive, negative or zero (use if-elif) </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [22]:
number= float(input("Enter the number here: "))
if number>0:
    print ("Number is positive")
elif number<0:
    print("Number is negative")
else:
    print("Number is zero.")

Enter the number here: 4.586
Number is positive

<a id= "flow_control"> </a>
## 2. Python Flow Control

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>7. Write a program for generating a fibonacci series starting with 0 and 1 for the next 10 values using a while loop. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [5]:
a=0
b=1
print(a, b,end=' ')
n=int(input('enter size:'))
count= 0
t=0
while count<n:
    t=a+b
    a=b
    b=t
    count+=1
    print(t, end=' ')

0 1 enter size:7
1 2 3 5 8 13 21

In [2]:
a = 0
b = 1
print(a, b, end =' ')
count=1
while count<=10:
    t = a+b
    a=b
    b=t
    print(t, end = ' ')
    count+=1

0 1 1 2 3 5 8 13 21 34 55 89

In [12]:
no_1=0
no_2=1
print ("0 1", end = ' ')
for i in range (8):
    total=no_1+no_2
    no_1=no_2
    no_2=total
    print(total, end = " ")

0 1 1 2 3 5 8 13 21 34

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>8. Write a code to find factorial of a number (take the input from user). </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [9]:
n = int(input())
fact=1
if n==0 or n==1:
    fact = fact
else:
    for i in range(2,n+1):
        fact*=i
        
print(fact)

0
1

In [10]:
def fact(n):
    if n==0 or n==1:
        return 1
    else:
        return n*fact(n-1)

In [12]:
fact(10)

3628800

In [2]:
Factorial=int(input("Enter the number for factorial: "))
total = 1
for i in range (1,Factorial+1):
    total*=i
print("Factorial for number {} is {}".format(Factorial,total))

Enter the number for factorial: 6
Factorial for number 6 is 720

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>9. Write a program to check whether two numbers are amicable or not (take the input from user).</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [4]:
num1 = int(input('Enter number 1: '))
num2 = int(input('Enter number 2: '))
list1 = []
list2 = []

for i in range(1, num1):
    if num1 % i == 0:
        list1.append(i)

for i in range(1, num2):
    if num2 % i == 0:
        list2.append(i)

if sum(list1) == num2 and sum(list2) == num1:
    print("Numbers are amicable")
else:
    print("Numbers are not amicable")

Enter number 1: 220
Enter number 2: 284
Numbers are amicable

In [15]:
num1=int(input('Enter number 1: '))
num2=int(input('Enter number 2: '))
list1=[]
list2=[]
for i in range (1,num1):
    if num1%i==0:
        list1.append(i)  
print(list1)

for i in range (1,num2):
    if num2%i==0:
        list2.append(i)  
print(list2)
print("sum1: ", sum(list1))
print("sum2: ", sum(list2))
if sum(list1)==num2 and sum(list2)==num1:
    print("Numbers are amicable")
else:
    print("Numbers are not amicable")

Enter number 1: 220
Enter number 2: 284
[1, 2, 4, 5, 10, 11, 20, 22, 44, 55, 110]
[1, 2, 4, 71, 142]
sum1:  284
sum2:  220
Numbers are amicable

In [62]:
sum(list1)

4

In [16]:
def sum_divisor(n):
    sum_div = 1
    for i in range (2,n):
        if n%i==0:
            sum_div+=i
    return sum_div

In [20]:
def chk_amicable(n1,n2):
    if sum_divisor(n1)==n2 and sum_divisor(n2)==n1:
        return 'amicable'
    else:
        return 'not amicable'
    
n1= int(input())
n2= int(input())

chk_amicable(n1,n2)

220
284

'amicable'

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>10. Reverse string using a for loop (take the input from user).</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [21]:
string=input('Enter string here: ')
rev_string = ""
for i in string:
    rev_string=i+rev_string
print(rev_string)

Enter string here: praju
ujarp

In [27]:
s = 1234321
rev = 0
while s!=0:
    n = s%10
    rev = rev*10+n
    s = s//10
print(rev)

1234321

In [25]:
s = 1234321
s//10

123432

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>11. Write a code to find the average of given numbers (take the input from user).</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [46]:
num = int(input("Enter count of numbers: "))
total = 0
for i in range (num):
    num_total=int(input("Enter number: "))
    total+=num_total
print(total/num)

Enter count of numbers: 3
Enter number: 2
Enter number: 4
Enter number: 6
4.0