### Let's begin with some hands-on practice exercises

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>1. A list of words is given. Convert the words into uppercase (use lambda and map functions)</b>
                </font>
            </div>
        </td>
    </tr>
</table>

<b>lsbool = ['True','FALse','tRUe','tRue','False','faLse','True']</b><br>
<b>Output: ['TRUE', 'FALSE', 'TRUE', 'TRUE', 'FALSE', 'FALSE', 'TRUE']</b>

In [2]:
lsbool = ['True','FALse','tRUe','tRue','False','faLse','True']
output=list(map(lambda x: x.upper(),lsbool))
output

['TRUE', 'FALSE', 'TRUE', 'TRUE', 'FALSE', 'FALSE', 'TRUE']

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>2. Write a function to print the height of students in the class (here count of students is not fixed)</b> 
                </font>
            </div>
        </td>
    </tr>
</table>

In [44]:
def height():
    list1=[]
    x='yes'
    while x=='yes':
        name=input("Enter name of student: ")
        height=float(input("Enter height of student in mt: "))
        list1.append((name,height))
        x=input("Is there another student: Yes/No: ")
    
    print (dict(list1))
height()

Enter name of student: priya
Enter height of student in mt: 5
Is there another student: Yes/No: yes
{'priya': 5.0}
Enter name of student: pret
Enter height of student in mt: 5.5
Is there another student: Yes/No: yes
{'priya': 5.0, 'pret': 5.5}
Enter name of student: rahul
Enter height of student in mt: 6
Is there another student: Yes/No: No
{'priya': 5.0, 'pret': 5.5, 'rahul': 6.0}

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>3. Create a dictionary containing four lambda functions square, cube, squareroot, multiply by 2.</b>
                    <br><br>
                    <b>E.g. dict = {'Square': function for squaring, 'Cube': function for cube, 'Squareroot': function for squareroot, 'Double': function for double} and so on </b>
                    <br><br>
                    <b>Pass the values (input from the user) to the functions in the dictionary respectively. Then add the outputs of each function and print it.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [19]:
square= lambda x:x**2
cube= lambda x:x**3
import math
squareroot= lambda x: math.sqrt (x)
double= lambda x:x+x

x= int(input("Enter number here: "))
dictionary = {'square': square(x),'cube':cube(x) ,'squareroot':squareroot(x),'double':double(x)}
print(dictionary)

Enter number here: 4
{'square': 16, 'cube': 64, 'squareroot': 2.0, 'double': 8}

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>4. A list of words is given. Define a function to find the words from the list that have their second character in uppercase</b>
                </font>
            </div>
        </td>
    </tr>
</table>

<b>ls = ['hello', 'Dear', 'hOw', 'ARe', 'You']</b><br>
<b>Output: ['hOw', 'ARe']</b>

In [1]:
ls = ['hello', 'Dear', 'hOw', 'ARe', 'You']
output=list(filter(lambda x: x[1].isupper(),ls))
output

['hOw', 'ARe']

In [6]:
[i for i in ls if i[1].isupper()]

['hOw', 'ARe']

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>5. Define a function to filter the marks from the tuple "tmarks" that are greater than 40 and print corresponding names from the "tnames" tuple</b>
                </font>
            </div>
        </td>
    </tr>
</table>

<b>tnames = ('John','Sharon','Jack','Annie')</b><br>
<b>tmarks = (32,50,75,12)</b>

In [9]:
tnames = ('John', 'Sharon', 'Jack', 'Annie')
tmarks = (32, 50, 75, 12)
d = dict(zip(tnames, tmarks))
filtered_dict = dict(filter(lambda x: x[1] > 40, d.items()))
print(filtered_dict)
d.items()

{'Sharon': 50, 'Jack': 75}

dict_items([('John', 32), ('Sharon', 50), ('Jack', 75), ('Annie', 12)])

In [36]:
tnames = ('John','Sharon','Jack','Annie')
tmarks = (32,50,75,12)

def filtered_dict():
    dict1=dict(zip(tnames,tmarks))
    list1=[]
    for keys,values in dict1.items():
        if values>40:
            list1.append((keys,values))
    print(dict(list1))
filtered_dict()

{'Sharon': 50, 'Jack': 75}

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 6. A dictionary of names and their weights on earth is given. Find how much they will weigh on the moon. (use map and lambda functions)</b><br> 
                </font>
            </div>
        </td>
    </tr>
</table>

**Weight of people in kg**
WeightOnEarth = {'John':45, 'Shelly':65, 'Marry':35}        

**Gravitational force on the Moon**
GMoon = 1.622                                              

**Gravitational force on the Earth**
GEarth = 9.81                                              

**Output:** 
Weight on Moon:  {'John': 7.44, 'Shelly': 10.75, 'Marry': 5.79}

In [17]:
WeightOnEarth = {'John': 45, 'Shelly': 65, 'Marry': 35}
weightOnMoon = dict(map(lambda x: (x[0], round((x[1] / 9.81) * 1.622, 2)), WeightOnEarth.items()))
print(weightOnMoon)

{'John': 7.44, 'Shelly': 10.75, 'Marry': 5.79}

In [64]:
WeightOnEarth = {'John':45, 'Shelly':65, 'Marry':35}
WeightOnE=list(WeightOnEarth.values())
weightperson=list(WeightOnEarth.keys())
print(WeightOnE)
print(weightperson)

[45, 65, 35]
['John', 'Shelly', 'Marry']

In [66]:
WeightOnEarth=[45, 65, 35]
onmoon= list(map(lambda v: (v/9.81*1.622),WeightOnE))
onmoon

[7.440366972477065, 10.747196738022426, 5.786952089704384]

In [67]:
wtonmoon=dict(zip(weightperson,onmoon))
wtonmoon

{'John': 7.440366972477065,
 'Shelly': 10.747196738022426,
 'Marry': 5.786952089704384}

In [20]:
WeightOnEarth = {'John':45, 'Shelly':65, 'Marry':35}
moon = {i:round(v/9.81*1.622,2) for i,v in WeightOnEarth.items()}
moon

{'John': 7.44, 'Shelly': 10.75, 'Marry': 5.79}

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 7. A list containing multiple lists is given. Convert each inner list into sets and find intersection of all the sets (use reduce function)</b>
                </font>
            </div>
        </td>
    </tr>
</table>

<b>given_sets = [[1, 2, 3, 4, 8], [2, 3, 8, 5, 6], [8, 4, 5, 3, 7], [6, 9, 8, 3], [9, 12, 3, 7, 6, 8, 4, 6, 21, 1, 6]]</b><br>
<b>Output: {8, 3}</b>

In [118]:
given_sets = [[1, 2, 3, 4, 8], [2, 3, 8, 5, 6], [8, 4, 5, 3, 7], [6, 9, 8, 3], [9, 12, 3, 7, 6, 8, 4, 6, 21, 1, 6]]
from functools import reduce
sets=list(map(set,given_sets))
reduce_sets=reduce(lambda x,y: x&y,sets)
reduce_sets

{3, 8}

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C"> 
                    <b> 8. Write a function to store the price of different products in the supermarket (number of products is not fixed)</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [139]:
def product_price():
    x=input("Is there a product: yes/no: ")
    product_list=[]
    while x=='yes':
        product=input("Name of product: ")
        price=float(input("price of product: "))
        product_list.append((product,price))
        x=input("Is there a product: yes/no: ")
    print(product_list)
product_price()

Is there a product: yes/no: yes
Name of product: Sugar
price of product: 400
Is there a product: yes/no: yes
Name of product: Tea
price of product: 300
Is there a product: yes/no: no
[('Sugar', 400.0), ('Tea ', 300.0)]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>9. Define a function to multiply two global variables, 16 and 12</b>  
                </font>
            </div>
        </td>
    </tr>
</table>

In [27]:
n1=16
n2=12
def multiply():
    total=n1*n2
    return total

In [28]:
multiply()

192

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 10. Find the cumulative average of the list [9,8,7,6,5] using accumulate() and lambda function</b>
                </font>
            </div>
        </td>
    </tr>
</table>

<b>Input list: [9,8,7,6,5]</b>

In [85]:
from itertools import accumulate
l1=[9,8,7,6,5]
average=list(accumulate(l1,lambda x,y:(x+y)/2))
average

[9, 8.5, 7.75, 6.875, 5.9375]