<table align="center" width=100%>
    <tr>
        <td width="20%">
            <img src="homework.png">
        </td>
        <td>
            <div align="center">
                <font color="#21618C" size=8px>
                    <b> TakeHome<br>(Day 3)
                    </b>
                </font>
            </div>
        </td>
        <td width="25%">
            <img src="NEW_GL_Logo.png">
        </td>
    </tr>
</table>

**Let's begin with some hands-on practice exercises**

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>1. Write a program to print the following pattern (use for loop)</b>
                    <br>
                 </font>
            </div>
        </td>
    </tr>
</table>

                                            A  
                                            B C  
                                            D E F  
                                            G H I J  
                                            K L M N O  
                                            P Q R S T U

In [7]:
n = 65
for i in range (1,6):
    for j in range (1,i+1):
        print(chr(n),end=' ')
        n+=1
    print()

A
B C
D E F
G H I J
K L M N O

In [7]:
n = 65
for i in range (1,7):
    for j in range (1,i+1):
        print(chr(n),end=' ')
        n=n+1
    print()

A
B C
D E F
G H I J
K L M N O
P Q R S T U

In [12]:
lst=['A','B C','D E F','G H I J','K L M N O','P Q R S T U']
for i in lst:
    print (i)

A
B C
D E F
G H I J
K L M N O
P Q R S T U

In [1]:
n = 6  # You can change 'n' to adjust the number of rows

# Initialize a variable to keep track of the letter
letter = ord('A')

for i in range(1, n + 1):
    for j in range(1, i + 1):
        print(chr(letter), end=' ')
        letter += 1
    print()  # Move to the next line after each row

A
B C
D E F
G H I J
K L M N O
P Q R S T U

In [8]:
ord('A')

65

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>2. Write a program to print tables from 2 to a user provided range (use for loop)</b>
                 </font>
            </div>
        </td>
    </tr>
</table>

In [13]:
for i in range (1,11):
    print ("2 * {} = {}".format(i,2*i))

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>3. Consider the given two tuples. Divide corresponding elemets of two tuples and print the result as tuple (use zip())</b>
                 </font>
            </div>
        </td>
    </tr>
</table>

   **The original tuple 1 : (10, 4, 6, 9)**

   **The original tuple 2 : (5, 2, 3, 3)**

   **Output: (2, 2, 2, 3)**

In [7]:
tuple1= (10, 4, 6, 9)
tuple2=(5, 2, 3, 3)
newtuple=tuple(a//b for a,b in zip(tuple1,tuple2))
newtuple

(2, 2, 2, 3)

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>4. Check whether the set X and Y are disjoint or not </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the sets below (or create your own sets):**

#### Set X
X = {4, 5, 11, 34, 4, 56, 44, 67, 67, 5, 12, 34, 16, 9, 22, 23, 56, 34, 33, 89, 78, 45, 33, 78, 34, 45, 12, 45, 56 }

#### Set Y
Y = {41, 52, 63, 56, 67, 45, 99, 56, 45, 23, 45, 63, 45, 56, 45, 55, 56, 56, 12, 86, 67, 55, 56, 34, 89}

In [25]:
X = {4, 5, 11, 34, 4, 56, 44, 67, 67, 5, 12, 34, 16, 9, 22, 23, 56, 
     34, 33, 89, 78, 45, 33, 78, 34, 45, 12, 45, 56 }
Y = {41, 52, 63, 56, 67, 45, 99, 56, 45, 23, 45, 63, 45, 56, 45, 55, 
     56, 56, 12, 86, 67, 55, 56, 34, 89}
X.isdisjoint(Y)

False

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>5. Write a program to check whether two strings are anagram or not (take input from user)</b>
                 </font>
            </div>
        </td>
    </tr>
</table>

**Hint: An anagram of a string is another string that contains same characters, only the order of characters can be different.**

In [33]:
a1=input("Enter string here: ")
a2=input("Enter another string: ")
if set(a1)==set(a2):
    print("anagram")
else:
    print("not anagram")

Enter string here: heart
Enter another string: earth
anagram

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>6. Write a program to remove space from keys of the given dictionary (use for loop)  </b>
                 </font>
            </div>
        </td>
    </tr>
</table>

**fruity = {'Fruits 01' : 'Apple', 'Fruits 02' : 'Orange', 
                'Fruits 0 3 ': 'Grapes'}**

**(Output) New dictionary :   {'Fruits01': 'Apple', 'Fruits02': 'Orange', 'Fruits03': 'Grapes'}**

In [26]:
fruity = {'Fruits 01' : 'Apple', 'Fruits 02' : 'Orange', 'Fruits 03 ': 'Grapes'}
new_dict={}
for k,v in fruity.items():
    new_key=k.replace(" ","")
    new_dict[new_key]=v
print(new_dict)

{'Fruits01': 'Apple', 'Fruits02': 'Orange', 'Fruits03': 'Grapes'}

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>7. Write a program to add the cubes of first 5 positive integers (use while loop)</b>
                 </font>
            </div>
        </td>
    </tr>
</table>

In [66]:
total=0
count=1
while count<=5:
    total=total+(count**3)
    count+=1
print(total)

225

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>8. Write a code to print table of 5 using assignment operand +=.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [46]:
table=[]
for i in range (0,50,5):
    i+=5
    table.append(i)
print (table)

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [9]:
for i in range(0,50,5):
    print(i)

0
5
10
15
20
25
30
35
40
45

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>9. Write a program to check whether a number is greater than the other using if statement (take the input from user).</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [42]:
num1=int(input("Enter number1: "))
num2=int(input("Enter number2: "))
if num1==num2:
    print("Enter 2 different numbers")
elif num1>num2:
    print("{} is greater than {}.".format(num1,num2))
else:
    print("{} is greater than {}.".format(num2,num1))

Enter number1: 6
Enter number2: 5
6 is greater than 5.

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>10. Write a code to check whether a number is divisible by 7 or not (take the input from user). </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [30]:
num=int(input("Enter number to test: "))
if num%7==0:
    print("Number is divisible by 7")
else:
     print("Number is not divisible by 7")

Enter number to test: 80
Number is not divisible by 7

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 11. Remove number 3 from a given set </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the set below:**

numbers = {2, 3, 4, 5}

In [28]:
numbers = {2, 3, 4, 5}
numbers.remove(3)
numbers

{2, 4, 5}