In [1]:
#armstrong no

In [2]:
def is_armstrong(n):
    power = len(str(n))
    sm = 0
    for i in str(n):
        sm+= int(i)**power
    if sm == n:
        return True
    else:
        return False

In [3]:
is_armstrong(153)

True

In [4]:
is_armstrong(166)

False

In [ ]:
import seaborn as sns
import pandas as pd
import numpy as np

df = sns.load_dataset('titanic')
df.head()

In [ ]:
df[df['sex']=='female']['fare'].mean()

In [ ]:
df[(df['sex']=='female') & (df['age']>40)]['fare'].mean()

In [ ]:
df['survived'].value_counts().plot(kind='pie',autopct='%1.2f%%')

In [ ]:
sns.scatterplot(x='age',y='fare',data=df)

In [ ]:
add = 0
count = 0
while count<5:
    num = int(input('Enter number:'))
    add+=num
    count+=1
    avg = add/count
print(avg)

In [ ]:
l = {1,2,3,4,5}
max(l)

In [ ]:
s1 = 'listen'
s2 = 'silent'
if set(s1)==set(s2):
    print('anagrams')
else:
    print('Not anagrams')

In [ ]:
li = [1, 2, 2, 3, 4, 4, 5, 5, 6, 7, 8, 9, 9]
t=tuple(set(list))
print(t)
print('min:', min(t))
print('max:', max(t))

In [ ]:
s = 'Hello world'

# Write your code below
d={}
for i in s:
    d[i]=s.count(i)
print(d)

In [ ]:
s = input()
set1 = eval(s)

# Write your code below
print(set1)
print(len(set1))
print(3 in set1)

In [ ]:
s= 'Hello123World456'
s1=''
for i in s:
    if i.isdigit():
        s1+=i
print(s1.split())

In [2]:
n=10
a=0
b=1
print(a,b, end =' ')
for i in range (n-2):
    t = a+b
    a=b
    b=t
    print(t, end=' ')

0 1 1 2 3 5 8 13 21 34

In [ ]:
# Sample input string
s = "Hello123World456"

num = ""

# Iterate through each character in the input string
for i in s:
    if i.isdigit():
        num += i
    elif num:
        print(num)
        num = ""
if num:
    print(num)

In [ ]:
l = ['apple', 'banana', 'cherry', 'date']
l1=[]
for i in range (len(l)):
    if i%2!=0:
        l[i]=l[i][::-1]
    else:
        l[i]
print(l)

In [ ]:
[l[i][::-1] if i%2!=0 else l[i] for i in range (len(l))]

In [ ]:
n=6
a=65
for i in range (1,n+1):
    for j in range (1,i+1):
        print(chr(a), end=' ')
        a+=1
    print()

In [ ]:
for i in range (1,11):
    print('2 *', i, '=', 2 * i)

In [9]:
a=(10, 20, 30, 40, 50)
b=(2, 4, 5, 8, 10)
tuple(map(lambda x,y: x/y, a,b))

(5.0, 5.0, 6.0, 5.0, 5.0)

In [ ]:
words= [['Hello', 'World'], ['Python', 'is', 'fun'], ['I', 'love', 'coding']]
l = [j for i in words for j in i if len(j)<5]
print(l)

In [ ]:
a=('a', 'b', 'c')
b={'d': 1, 'e': 2}
a+=(b,)
print(a)
print(type(b,))

In [ ]:
d = {'Hello World': 1, 'Python is fun': 2}
d1={}
for k,v in d.items():
    nk=k.replace(' ','')
    d1[nk]=v
print(d1)

In [ ]:
{k.replace(' ',''):v for k,v in d.items()}

In [ ]:
matrix=[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

[[i[j] for i in matrix]for j in range (3)]

In [ ]:
n =5
cnt = 1
cube=0
while cnt <=5:
    cube = cube+(cnt**3)
    cnt+=1
print(cube)

In [ ]:
[[i for i in range (1,4)]for j in range (5)]

In [ ]:
l =[2,3,3,2,4,5,3]
l.sort(reverse=True)
l

In [10]:
s='hello world'
reversed_string = [s[i] for i in range(len(s)-1, -1, -1)]
(reversed_string)

['d', 'l', 'r', 'o', 'w', ' ', 'o', 'l', 'l', 'e', 'h']

In [14]:
[s[i] for i in range (len(s)-1,-1,-1)]

['d', 'l', 'r', 'o', 'w', ' ', 'o', 'l', 'l', 'e', 'h']

In [11]:
words=['hello', 'world']
list(map(lambda x: x.upper(),words))

['HELLO', 'WORLD']

In [14]:
numbers = input()

# Write your code below
numbers = list(map(int, numbers.split()))
if 5 in numbers:
    print('Found')
else:
    print('Not Found')

1 2 3 4 5
Found

In [21]:
from functools import reduce
l=[[1, 2, 3, 4], [2, 3, 4, 5], [3, 4, 5, 6]]
sets = [set(lst) for lst in l]
intersection = reduce(lambda a, b: a & b, sets)
print(intersection)

{3, 4}

In [62]:
n =10
p_sum =0
for i in range (2,n+1):
    is_prime = True
    for j in range (2,i):
        if i%j==0:
            is_prime = False
            break
    else:
        if is_prime:
            p_sum+=i
print(p_sum)

17

In [68]:
int(9**0.5)+1

4