<table align="center" width=100%>
    <tr>
        <td width="20%">
            <img src="homework.png">
        </td>
        <td>
            <div align="center">
                <font color="#21618C" size=8px>
                    <b> TakeHome<br>(Day 1)
                    </b>
                </font>
            </div>
        </td>
        <td width="25%">
            <img src="NEW_GL_Logo.png">
        </td>
    </tr>
</table>

### Let's begin with some hands-on practice exercises

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>1. Write a program to convert the value of 'pi' to integer</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [3]:
pi=3.14159
int(pi)

3

In [3]:
import math
int(math.pi)

3

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>2. Find the remainder after dividing 542 by 16</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [1]:
542%16

14

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>3.  Display the following pattern using single print() </b>
                </font>
            </div>
        </td>
    </tr>
</table>

                                *
                                **
                                ***
                                ****

In [2]:
print('*','**','***','****',sep='\n')

*
**
***
****

In [6]:
for i in range (1,5):
    print(i*'*')

*
**
***
****

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>4. Write a pseudo code to check whether an entered letter is a vowel or not </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
#step 1 : accept a user input for a single letter in lowercase, 
#convert it to a string and convert to lowercase.
#step 2 :check if l is vowel: if l==a or l==e or l==i or l==o or l==u.
#step 3 :if vowel "Print letter is vowel." or else "Print letter is not Vowel."p

In [16]:
n=str(input("enter letter: "))
if n.lower() in 'aeiou':
    print ("Vowel")
else:
    print("not a vowel")

enter letter: A
Vowel

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>5. Write a program to swap the two integers passed as runtime variables</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [8]:
x,y = 6,7
x,y = y,x
x,y

(7, 6)

In [11]:
x,y = 6,7
temp = x
x=y
y=temp
x,y

(7, 6)

In [13]:
x,y=6,7
x=x+y
y=x-y
x=x-y
x,y

(7, 6)

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>6. Write a program to print the product of two numbers 'x' and 'y' </b>
                    <br><br>
                    <b> x = 10 ; y = "15"  </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [20]:
x=10
y="15"
print('Product of numbers {} and {} is {}.'.format(x,int(y),x*int(y)))

Product of numbers 10 and 15 is 150.

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 7. Write a pseudo code to check whether input is even number or odd number (take input from user)</b>
                </font>
            </div>
        </td>
    </tr>
</table>

step 1: accept a user input for a number, convert it to integer and assign variable n.
step 2: check if n/2. assign variable a to remainder. (a=n%2)
step 3: if a is 0 (print n is even number)
step 4: if a is not 0 (print n is odd number)

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>8. Write a pseudo code to print whether a number is divisible by 9 and a multiple of 6 (take input from the user)</b>
                </font>
            </div>
        </td>
    </tr>
</table>

step 1: accept a user input for number.convert to int and assign variable a.
step 2: check if a is divisible by 9 and multiple of 6 (a/9= remainder 0 and a/6 remainder 0).
step 3:if condition is true, print 'number is divisible by 9 and a multiple of 6'
step 4: otherwise print 'number is not divisible by 9 and a multiple of 6'

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>9. Write a pseudo to take 5 values from user and print their average using while loop (take input from user)</b>
                </font>
            </div>
        </td>
    </tr>
</table>

Step1 :set variables value_sum=0,count=0
Step 2: while count==5
 accept the user input for a value and convert to float
step 3: calculate value_sum +=value for count +=1
step 4: calculate average= value_sum/5
step 5: print 'average of 5 values is: average'

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>10. Write a pseudo code to print table of 5 using 'for' loop.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

start
using for loop 
for i in range (1,11):
    print (5*i)

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>11. Write a pseudo code for generating a fibonacci series starting with 0 and 1 for 10 values using while loop. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

step 1: define variables a =0, b=1 and count=0
step 2: use while loop: while count<10
step 3: print value of (a)
step 4: exchange value of a and b by assigning temporary variable temp=a+b
        a=b
        b=temp
step 5: continue loop for count+=1 (10 values)

In [17]:
n=10
count =0
a = 0
b = 1
print(a,b,end=' ')
while count<n-2:
    t = a+b
    a=b
    b=t
    count+=1
    print(t, end=' ')

0 1 1 2 3 5 8 13 21 34

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>12. Write a pseudo code to know whether a number is greater than the other using 'if' statement. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

step1: assign a variable n1 and n2 to the numbers.
step 2: check if n1>n2
step 3: if true print n1 is greater than n2

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>13. Write a pseudo code to check whether a number is divisible by 7 or not using if else statement. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

start
n=read a number From user
check if number n is divisible by 7.
          print the number is divisible by 7.
      else 
          print the number is not divisible by 7.
end.

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>14. Write a pseudo code to find factorial of a number using nested if-else statement. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

step 1: assign variable n to a number
step 2: check if number is <0
step 3:print factorial not possible
step 4: ifelse check  n==0 print factorial is 1
step 5: else calculate factorial using loop while loop

In [10]:
fact = 1
n = int(input())
if n<0:
    print('Give natural no')
elif n==0 or n==1:
    print('Factorial',fact)
else:
    for i in range(2,n+1):
        fact*=i
    print('Factorial',fact)

6
Factorial 720

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>15. Write a pseudo to know whether a number is prime or not using for and if else statement.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

step 1: assign variable n to a number.
step 2: check if n==1 print (num 'is not a prime number')
step 3: elif num >1
step 4: for i in range (2,n) check 
        if n%i==0
step 5: if yes print (num 'is prime number')
        else print (num 'is not a prime number')

In [4]:
n = int(input())
for i in range (2,n):
    if n%i ==0:
        print('Not prime')
        break
else:
    print('prime')

1
prime

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>16. Write a program to find the area of a circle for a given radius (take the input from user).</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [29]:
r=float(input('Enter the radius of a circle:'))
print('area of a circle is:',3.14*(r**2), 'cm sq.')

Enter the radius of a circle:3
area of a circle is: 28.26 cm sq.

In [30]:
r=float(input('Enter the radius of a circle:'))
print('area of a circle is:',math.pi*(r**2), 'cm sq.')

Enter the radius of a circle:3
area of a circle is: 28.274333882308138 cm sq.

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>17. Write a code to find the simple interest (take the input from user).</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [31]:
##simple_interest=(principal amt*rate of interest*time period/100)
principal_amt= float(input('Enter Principal amount in INR:'))
rate_of_interest = float(input('Enter rate of interest:'))
time_period=float(input('Enter time period in years:'))
simple_interest=(principal_amt*rate_of_interest*time_period)/100
print (simple_interest)

Enter Principal amount in INR:10000
Enter rate of interest:8
Enter time period in years:5
4000.0