<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 1. Write a program to retrieve the second element from the list
                       </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [1]:
l=[1,2,3,4,5,6]
l[1]

2

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 2. Write a program to exchange the values of two numbers (take input from user)</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [3]:
n1=int(input('Enter no.1: '))
n2=int(input('Enter no.2: '))
n1,n2=n2,n1
print(n1,n2, sep =',')

Enter no.1: 4
Enter no.2: 5
5,4

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>3. A list containing age and name of five candidates is given below. Convert this list into a dictionary such that the name is the key and the age before their name should be the value in the dictionary.</b>
                    <br>
                </font>
            </div>
        </td>
    </tr>
</table>

In [7]:
age=[22,23,34,23,26]
names=['Ram','Sham','Gullu','Gola','Git']
dictionary=dict(zip(names,age))
print(dictionary)

{'Ram': 22, 'Sham': 23, 'Gullu': 34, 'Gola': 23, 'Git': 26}

In [19]:
l=[22,23,34,23,26,'Ram','Sham','Gullu','Gola','Git']
l1=[]
l2=[]
d1={}
for i in l:
    print(i)
print(l1)

22
23
34
23
26
Ram
Sham
Gullu
Gola
Git
[]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>4. Define a function to check whether a number is in a range (1000,10000) or not </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [9]:
n=int(input('Enter a number: '))
if n in range (1000,10000):
    print('In range')
else:
    print('Not in Range')

Enter a number: 8999
In range

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 5. Write a program to get square of first five positive integers (use List Comprehension)  </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [10]:
sq=[i**2 for i in range (1,6)]
sq

[1, 4, 9, 16, 25]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 6. Write a program to reverse a string without using indexing  </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [14]:
string=input()
rev=''
for i in string:
    rev=i+rev
print(rev)

hi how are you?
?uoy era woh ih

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 7. Python Program to Create a Dictionary with Key as First Character and Value as Words Starting with that Character  </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [57]:
n=['Ram','Sham','Gullu']
d={}
for i in n:
    d.update({i[0]:i})
d

{'R': 'Ram', 'S': 'Sham', 'G': 'Gullu'}

In [1]:
value=['Ram','Sham','Gullu','Shree','Sakhi']
di={}

for i in value:
    j=i[0]
    if j in di:
        sub=[]
        sub.append(i)
        sub.append(di[j])
        di[j]=sub
    else:
        di.update({j:i})
    
di

{'R': 'Ram', 'S': ['Sakhi', ['Shree', 'Sham']], 'G': 'Gullu'}

In [3]:
value = ['Ram', 'Sham', 'Gullu', 'Shree', 'Sakhi']
result = {}

for v in value:
    first_letter = v[0]
    if first_letter not in result:
        result[first_letter] = []
    result[first_letter].append(v)

print(result)

{'R': ['Ram'], 'S': ['Sham', 'Shree', 'Sakhi'], 'G': ['Gullu']}

In [6]:
d={}
for i in value:
    key=i[0]
    if key not in d:
        d[key]=[]
    d[key].append(i)
d

{'R': ['Ram'], 'S': ['Sham', 'Shree', 'Sakhi'], 'G': ['Gullu']}

In [58]:
d={i[0]:i for i in n}
d

{'R': 'Ram', 'S': 'Sham', 'G': 'Gullu'}

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 8. Python Program to find the sum of nested list  </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [52]:
l=[[1,2,3],[4,5,6],[7,8,9]]
total=0
for i in l:
    for j in i:
        total+=j
print(total)

45

In [56]:
from functools import reduce
l=[[1,2,3],[4,5,6],[7,8,9]]
add=sum([j for i in l for j in i])
add

45

In [1]:
a=[1,2,[1,2,3],[4,5,6]]
sum1=0

for i in a:
    if type(i)==int:
        sum1+=i
    else:
        for j in i:
            sum1+=j
    
sum1

24

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 9. Write a Python program to calculate a dog's age in dog's years. 
Note: For the first two years, a dog year is equal to 10.5 human years. After that, each dog year equals 4 human years.  </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [73]:
humanage=float(input())
def dogage(humanage):
    if humanage <= 2:
        dogage=humanage*10.5
        return dogage
    elif humanage>2:
        dogage=21+((humanage-2)*4)
        return dogage
        
dogage(humanage)

1

10.5

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 10.	Given a list find all the pairs of num that sums up to a target value.
Example – 
 list1 – [3,2,6,1,5,4]
target = 7
find_pair(list,target)
[(1, 6), (2, 5), (3, 4), (4, 3), (5, 2), (6, 1)]  </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [104]:
list1=[3,2,6,1,5,4]
total=0
target=int(input())
l1=[]

def find_pair(list1,target):
    for i in range (len(list1)):
        for j in range(len(list1)):
            if list1[i]+list1[j]==target:
                l1.append((list1[i],list1[j]))
    return l1
       
    
find_pair(list1,target)

7

[(3, 4), (2, 5), (6, 1), (1, 6), (5, 2), (4, 3)]

In [136]:
l=[3,2,6,1,5,4]
l2=[]
for i in l:
    for j in l:
        if i+j==7:
            l2.append((i,j))
            
print(l2)

[(3, 4), (2, 5), (6, 1), (1, 6), (5, 2), (4, 3)]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 11.Write a python program to remove a specific digit from a number
Input: list=[1234,242,441,44,48,123] k=4
Output: [123,22,1,8,123]  </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [16]:
list1=[1234,242,441,44,48,123]
l2=[]
l3=[]
k=4
for i in list1:
    n= str(i).replace('4','')
    l2.append(n)
print(l2)
for i in l2:
    if i.isdigit():
        l3.append(int(i))
print(l3)

['123', '22', '1', '', '8', '123']
[123, 22, 1, 8, 123]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 12.Rock Paper Scissor
rock vs paper->paper wins 
rock vs scissors->rock wins 
paper vs scissors->scissors wins
For the first output take a user defined function
For the second output let the computer choose it.
If the user does not  input Rock,Paper and Scissor in the same format ask the user to provide the input again
  </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [19]:
import random

def user_choice():
    while True:
        user_input = input("Enter your choice (Rock, Paper, Scissors): ").strip().lower()
        if user_input in ['rock', 'paper', 'scissors']:
            return user_input
        else:
            print("Invalid input. Please enter 'Rock', 'Paper', or 'Scissors'.")

def computer_choice():
    return random.choice(['rock', 'paper', 'scissors'])

def determine_winner(user, computer):
    if user == computer:
        return "It's a tie!"
    elif (user == 'rock' and computer == 'scissors') or \
         (user == 'scissors' and computer == 'paper') or \
         (user == 'paper' and computer == 'rock'):
        return "You win!"
    else:
        return "Computer wins!"

def play_game():
    while True:
        user = user_choice()
        computer = computer_choice()
        print(f"You chose: {user}")
        print(f"Computer chose: {computer}")
        print(determine_winner(user, computer))
        play_again = input("Do you want to play again? (yes/no): ").strip().lower()
        if play_again != 'yes':
            break

play_game()

Enter your choice (Rock, Paper, Scissors): Rock
You chose: rock
Computer chose: scissors
You win!
Do you want to play again? (yes/no): yes
Enter your choice (Rock, Paper, Scissors): Rock
You chose: rock
Computer chose: scissors
You win!
Do you want to play again? (yes/no): no

#0-->L
#1-->R

   N
W      E
   S

In [ ]:
d = input('Enetr direction: ')
s=str(10110)
for i in s:
    if d=='n':
        if i=='0':
            d='w'
        else:
            d='e'
    elif d=='s':
        if i=='0':
            d='e'
        else:
            d='w'
    elif d=='w':
        if i=='0':
            d=''